@keyframes spinner {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes spin {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}
