// COLORS

$primaryColor: #9356dc;
$secondaryColor: #ff79da;
$tertiaryColor: #99e2d0;

// FONTS

$textFontFam: "roboto", sans-serif;
$titleFontFam: "shrikhand", sans-serif;

// FONT SIZE

$sectionTitle: 1.9em;

// BREAKPOINTS

$breakpoints: (
  tablets: 768px,
  desktop: 1000px,
);
