.header__page {
  @extend %flexcenter;
  position: relative;
  padding: 2.5em;
  height: 3em;

  i {
    position: absolute;
    left: 1em;
    top: 1.8em;
  }
}
.fa-heart {
  font-size: 1.5em;
}

.banner {
  width: 100%;
  height: 400px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pages__container {
  margin: auto;
  width: 100%;
  max-width: 1300px;
  border-radius: 2.5em 2.5em 0 0;
  position: relative;
  margin-top: -5em;
  background-color: #f2f2f2;

  &--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 1.5em;
    font-family: $titleFontFam;
    font-size: 1.2em;
  }
}
.menu__heart {
  &--empty {
    position: absolute;
  }
  &--full {
    opacity: 0;
    opacity: 0;
    background: #9356dc;
    background: -webkit-linear-gradient(to right, #9356dc 0%, #ff79da 100%);
    background: -moz-linear-gradient(to right, #9356dc 0%, #ff79da 100%);
    background: linear-gradient(to right, #9356dc 0%, #ff79da 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:hover {
    cursor: pointer;
    .menu__heart--empty {
      opacity: 0;
      transition: 0.8s;
    }
    .menu__heart--full {
      opacity: 1;
      transition: 0.8s;
    }
  }
}

.full__meal {
  padding-top: 1em;

  margin: 0 1em;

  h3 {
    position: relative;
    padding-bottom: 0.8em;
    text-transform: uppercase;
    font-weight: normal;
    opacity: 0.8;
    &::after {
      content: "";
      position: absolute;
      width: 2.8em;
      height: 0.2em;
      background-color: $tertiaryColor;
      left: 0;
      bottom: 0.5em;
    }
  }
}
.meal {
  display: flex;
  justify-content: space-between;
  border-radius: 1em;
  background-color: white;
  overflow: hidden;
  margin-bottom: 1em;
  cursor: pointer;
  &:hover {
    .meal__slide {
      transform: translateX(-100%);
      transition: 0.5s;
    }
    .meal__price {
      margin-right: 5em;
      transition: 0.5s;
    }
    .fa-check-circle {
      transform: rotate(360deg);
      transition: 0.6s;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &--title {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 0.5em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &--description {
      opacity: 0.8;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  &__slide {
    @extend %flexcenter;
    position: absolute;
    height: 100%;
    border-radius: 0 1em 1em 0;
    background-color: $tertiaryColor;
    width: 15%;
    top: 0;
    left: 100%;
  }
  &__price {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    padding: 1em;
  }
}

.btn__container {
  @extend %flexcenter;
  padding-top: 2em;
  padding-bottom: 3em;
}

.fa-check-circle {
  color: white;
  transform: rotate(180deg);
  font-size: 25px;
}
