footer {
  background-color: #3f3f3f;
  .footer__icon {
    margin-right: 6px;
  }
}

.footer__container {
  padding: 1.5em;
  color: white;
  h2 {
    font-family: $titleFontFam;
    font-weight: normal;
    font-size: 1.4em;
    margin-bottom: 0.4em;
    @include desktop-only {
      text-align: center;
    }
  }

  a {
    font-size: 1em;
    color: white;
    line-height: 1.5em;

    &:visited {
      color: white;
    }
  }
  .footer__list {
    @include desktop-only {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
