footer {
  background-color: #3f3f3f;
  .footer__icon {
    margin-right: 6px;
  }
}

.footer__container {
  padding: 1.5em;
  color: white;
  h2 {
    font-family: $titleFontFam;
    font-weight: normal;
    font-size: 1.4em;
    margin-bottom: 0.4em;
  }

  a {
    font-size: 0.8em;
    color: white;

    &:visited {
      color: white;
    }
  }
}

@media screen and (min-width: $desktop) {
  .footer__container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer__list {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
  }
}
