.restaurant__title {
  padding: 30px;
}
.restaurant {
  background-color: #f2f2f2;
}

.card__container {
  display: grid;
  gap: 2em;

  a {
    &:visited {
      color: black;
    }
  }
}

@media screen and (min-width: $desktop) {
  .card__container {
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: auto;
    max-width: 1000px;
  }
  .card {
    width: 100%;
    margin: auto;
  }
  .restaurant__title {
    margin: 2em;
    text-align: center;
  }
}
