.tutorial__item {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: #f2f2f2;
  border-radius: 1.5em;
  padding: 1em;
  margin: 2em auto;
  position: relative;

  &--container {
    @extend %flexcenter;
    margin: 0 1.2em;
    width: 40px;
    height: 40px;
  }

  &:hover {
    background-color: rgba(241, 194, 239, 0.616);
    transition: 0.3s;
    cursor: default;
  }

  p {
    font-weight: bold;
  }

  i {
    opacity: 0.5;
    font-size: 1.5em;
  }
  @include tablets-only {
    margin-left: 2em;
  }
}

.section__title {
  margin: 1em;
  @include tablets-only {
    text-align: center;
  }
}

.tutorial__circle {
  position: absolute;
  padding: 5px 10px;
  left: -10px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: $primaryColor;
  color: white;
}

.tutorial__list {
  max-width: 1000px;
  @include tablets-only {
    display: flex;
    width: 80%;
    margin: auto;
  }
}
