.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  height: auto;
  border-radius: 1em;
  background-color: white;
  box-shadow: -1px 1px 3px 1px rgb(50 50 50 / 10%);

  &__img {
    height: 200px;
    border-radius: 1em 1em 0 0;
    object-fit: cover;
  }

  &__title {
    margin: 0.8em 0 0.3em 1em;
  }
  &__location {
    margin-left: 1.1em;
    margin-bottom: 1em;
  }
}
