.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  margin: auto;
  height: auto;
  border-radius: 1em;
  background-color: white;
  box-shadow: -1px 1px 3px 1px rgb(50 50 50 / 10%);

  &__img {
    height: 200px;
    border-radius: 1em 1em 0 0;
    object-fit: cover;
  }

  &__title {
    margin: 0.8em 0 0.3em 1em;
  }
  &__location {
    margin-left: 1.1em;
    margin-bottom: 1em;
    opacity: 0.8;
  }
  .new {
    padding: 0.4em 1.1em;
    position: absolute;
    right: 0.8em;
    top: 1em;
    border: 1px solid transparent;
    background-color: $tertiaryColor;
    font-weight: bold;
    color: #118216;
  }
}
